.page {
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .page {
    margin: 0 7%;
  }
}

@media screen and (max-width: 767px) {
  .page {
    margin: 0 auto;
  }
}
