.form__input-container {
  margin: 45px 0 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .form__input-container {
    margin-top: 75px;
  }
}
