.form__input {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 7px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: inherit;
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.form__input::-moz-placeholder {
  color: #c4c4c4;
}

.form__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.form__input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 767px) {
  .form__input {
    padding-bottom: 10px;
  }
}
